@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 420px;
    width: 600px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

.wrapper .column {
    width: 50%;
    height: 100%;
    padding: 30px 40px;    
    display: flex;
    flex-direction: column;
}

.wrapper #left {
    border-radius: 25px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    justify-content: space-around;
    color: hsl(0, 0%, 100%, 0.9);
    align-items: center;
}

.wrapper #left h3 {
    color: hsl(0, 0%, 100%, 0.7);
}

.wrapper #left .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.wrapper #left .circle h1{
    font-size: 56px;
}

.wrapper #left .circle p{
    font-size: 14px;
    color: hsl(0, 0%, 100%, 0.5);
}

.wrapper #left p {
    color: hsl(0, 0%, 100%, 0.7);
    text-align: center;
}

.wrapper #right {
    justify-content: space-around;
}

.wrapper #right .scores{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}

.wrapper #right .scores div{
    display: flex;
    align-items: center;
    padding: 0 7px;
    justify-content: space-around;
    height: 45px;
    width: 100%;
    border-radius: 5px;
}

.wrapper #right .scores div .mark {
    color: hsl(224, 30%, 27%, 0.7);
    display: flex;
    justify-content: end;
}

.wrapper #right .scores div .mark span{
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}

.wrapper #right .scores div img{
    margin: 5px;
}

.wrapper #right .scores .reaction {
    background-color: hsl(0, 100%, 67%, 0.2);
}
.wrapper #right .scores .memory {
    background-color: hsl(39, 100%, 56%, 0.2);
}
.wrapper #right .scores .verbal {
    background-color: hsl(166, 100%, 37%, 0.2);
}
.wrapper #right .scores .visual {
    background-color: hsl(234, 85%, 45%, 0.2);
}

.wrapper #right button{
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    height: 50px;
    width: 100%;
    background-color: hsl(224, 30%, 27%);
    border-radius: 25px;
}