* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 400px;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

.wrapper .left{
    width: 50%;
    height: 100%;
    border-right: 1px solid gray;
    border-radius: 25px;
}
